  
<% var header = './headersignin'; %>
<%- include(header) %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4 text-center">Contact Us</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <p class="">Email: PantherBlog@gmail.com</p>
          <p class="">Phone Number: 1-800-666-BLOG</p>
          <p class="">Address: 1234 IS Building</p>
        </div>
      </div>
  </div>

  <% var footer = './footer'; %>
  <%- include(footer) %>