<div class="content">

            <h2 class="content-head is-center">STAY CONNECTED!</h2>
			<div class="footer1">

            <div class="pure-g">
               <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                  <form class="pure-form pure-form-stacked">
                     <fieldset>
                        <label class="footer1" for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">
                        <label class="footer1" for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">
                        <label class="footer1" for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">
                        <button type="submit" class="pure-button">Sign Up</button>
                     </fieldset>
                  </form>
               </div>
               <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                  <h4 class="footer1">Contact Us</h4>
                  <p class="">Email: PantherBlog@gmail.com</p>
          <p class="">Phone Number: 1-800-666-BLOG</p>
          <p class="">Address: 1234 IS Building</p>
                  <h4 class="footer1">More Information</h4>
                  <p>
                   
                  </p>
               </div>
            </div>
         </div>
      </div>
      </div>

	  </body>
</html>