<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <h3>Username:</h3>
        </div>
        <div class="col-sm-10">
            <h3><%- output["username"] %></h3>     
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h3>Password:</h3>
        </div>
        <div class="col-sm-10">
           <h3><%- output["password"] %></h3>      
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h3>Access:</h3>
        </div>
        <div class="col-sm-10">
            <h3><%- output["access"] %></h3>     
        </div>
        </div>
</div>
<span class="glyphicon glyphicon-envelope"></span>
<i class="fa fa-sign-out"></i>
<button style="font-size:24px">Button <i class="fa fa-sign-out"></i></button>
</body>
</html> 
